<main class="holder">
        <div class="contacto">
            <h2>Contacto Rapido</h2>
            <form action="" class="formulario">
                <p>
                    <label for="">Nombre y Apellido</label>
                    <input type="text" required>
                </p>
                <p>
                    <label for="">Email</label>
                    <input type="text" required>
                </p>
                <p>
                    <label for="">Telefono</label>
                    <input type="text" required>
                </p>
                <p>
                    <label for="">Comentarios</label>
                    <textarea name="" required></textarea>
                </p>
                <p class="centrar">
                    <input type="submit" value="Enviar">
                </p>
            </form>
        </div>
        <div class="redes">
            <h2>Otras vias de contacto</h2>
            <p>Tambien pueden contactarse con nosotros usando los siguientes medios</p>
            <ul>
                <li><i class="fas fa-mobile-alt"></i>  1544447004</li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="facebook fab fa-facebook-square"></i></a></li>
                <li><i class="fab twitter fa-twitter"></i>  asdjkl</li>
                <li><i class="insta fab fa-instagram"></i>  @csvdr</li>
            </ul>
        </div>
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.3466920971855!2d-58.442228385271974!3d-34.62067816590173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca47604adc55%3A0xfa9a81953cb51362!2sRosario%20814%2C%20C1424%20CABA!5e0!3m2!1ses!2sar!4v1633136492878!5m2!1ses!2sar" width="480" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </main>