<main class="holder">
        <div class="homeimg">
            <img src="images/home/img01.jpg" alt="Avion">
        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam beatae nesciunt eum tempora ullam eos quae, itaque voluptas, aliquid reiciendis impedit tenetur eveniet repellendus facere illo adipisci ab aspernatur natus?</p>
            </div>
            <div class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente Excelente</span>
                    <span class="autor">Juan Gomez - zapatos.com</span>
                </div>
            </div>
        </div>
    </main>