<main class="holder">
        <div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas fuga distinctio nulla excepturi! Sint commodi eius tenetur ad, ipsam quibusdam. Assumenda fuga aperiam eius quasi, a esse pariatur sit nostrum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nobis impedit culpa iure harum cumque quis quo, mollitia omnis eaque. Aut doloribus debitis veniam quibusdam in possimus mollitia ullam atque.</p>
        </div>
        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro officia aut, iure placeat quas architecto culpa repellat perspiciatis, fugit rerum voluptas! Sunt vero delectus labore aliquid ipsam iure aspernatur impedit!</p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="">
                    <h5>Diana Reyes</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro officia aut, iure placeat quas architecto culpa repellat perspiciatis, fugit rerum voluptas! Sunt vero delectus labore aliquid ipsam iure aspernatur impedit!</p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="">
                    <h5>Roberto Zabala</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro officia aut, iure placeat quas architecto culpa repellat perspiciatis, fugit rerum voluptas! Sunt vero delectus labore aliquid ipsam iure aspernatur impedit!</p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="">
                    <h5>Sandra Mastroloi</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro officia aut, iure placeat quas architecto culpa repellat perspiciatis, fugit rerum voluptas! Sunt vero delectus labore aliquid ipsam iure aspernatur impedit!</p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="">
                    <h5>Luciano Gomez</h5>
                    <h6>Gerente de Logistica</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro officia aut, iure placeat quas architecto culpa repellat perspiciatis, fugit rerum voluptas! Sunt vero delectus labore aliquid ipsam iure aspernatur impedit!</p>

                </div>
            </div>
        </div>
    </main>