<main class="holder">
        <h2>Novedades</h2>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit voluptate numquam dolorum aliquid, maxime quaerat ullam temporibus odit sit laborum dolor ipsa voluptatem eos iste enim ab. Illo, rerum culpa!
            Eum qui quam nobis dicta harum consequuntur facere sapiente excepturi ratione dolore officia quisquam, aliquam aspernatur, nostrum totam, doloribus aperiam reprehenderit eos accusantium voluptates praesentium! Ex hic voluptates voluptatem cum.</p>
            <hr>
        </div>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit voluptate numquam dolorum aliquid, maxime quaerat ullam temporibus odit sit laborum dolor ipsa voluptatem eos iste enim ab. Illo, rerum culpa!
            Eum qui quam nobis dicta harum consequuntur facere sapiente excepturi ratione dolore officia quisquam, aliquam aspernatur, nostrum totam, doloribus aperiam reprehenderit eos accusantium voluptates praesentium! Ex hic voluptates voluptatem cum.</p>
            <hr>
        </div>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit voluptate numquam dolorum aliquid, maxime quaerat ullam temporibus odit sit laborum dolor ipsa voluptatem eos iste enim ab. Illo, rerum culpa!
            Eum qui quam nobis dicta harum consequuntur facere sapiente excepturi ratione dolore officia quisquam, aliquam aspernatur, nostrum totam, doloribus aperiam reprehenderit eos accusantium voluptates praesentium! Ex hic voluptates voluptatem cum.</p>
            <hr>
        </div>
    </main>